<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
<title>Page de Connexion</title>
</head>
<body>

<div class="container">
  <div class="login-box">
    <div class="logo">
      <div class="circle">
      
      </div>
      <a href="{% url 'index' %}"><h2>SyncLead</h2></a>
    </div>  
    {% if user.is_authenticated %}
    <div class="user-info">
        <p>Nom: {{ user.last_name }}</p>
        <p>Prénom: {{ user.first_name }}</p>
        <p>Numéro de Téléphone: {{ user.phone_number }}</p>
        <p>Email: {{ user.email }}</p>
    </div>
    {% endif %}    
  </div>
</div>

</body>
</html>